body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.table-project{
  width: 75%;
}
aside{
  width: 25%;
}
.heading{
    padding: 10px 50px;
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: space-between;
    background: #0c2461;
    color: #fff;
    box-shadow: 5px 0 5px #192a56;
    overflow: hidden;
}
#nav-bar{
    display: none;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    color:#fff ;
    text-decoration: none;
}
/* start agile */
.agile {
	display: flex;
	padding: 30px;
	width: 95%;
	background: #bb7ca3;
	border-radius: 5px;
}

.agile * {
	font-family: sans-serif;
}

.agile__column {
	flex: 1;
}

.agile__column:not(:last-child) {
	margin-right: 30px;
}

.agile__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: white;
	user-select: none;
}

.agile__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.agile__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.agile__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.agile__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/* start footer */
footer{
    padding: 5px;
    text-align: center;
    background-color: #0C2461;
  }
  footer h3{
    color: #fff;
    font-size: 24px;
  }